/* Page de choix des articles à administrer */
#admin_choices{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%;
	margin: 100px auto;
	padding: 20px;
	background-color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
}

#admin_choices p a{
	text-decoration: none;
	font-size: 1.5em;
	color: #FFF;
	background-color: #508cc7;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #d6dbdb;
	box-shadow: 0px 0px 20px #d6dbdb;
	text-align: center;
}

#admin_choices p a:hover {
	color: #000000;
	cursor: pointer;
}

/* Vue de gestion des épisodes/categories/compte utilisateur */
#admin_episodes,
#admin_categories{
	width: 70%;
	margin: 100px auto;
	padding: 20px;
	background-color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
}

#admin_comments{
	width: 90%;
	margin: 100px auto;
	padding: 20px;
	background-color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 50px #000000;
}

#admin_episodes table,
#admin_categories table,
#admin_comments table{
	border-collapse: separate;
	border-spacing: 10px 30px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.5em;
	color: #FFF;
	background-color: #508cc7;
	border-radius: 10px;
}

#admin_comments table .td_id{
	width: 5%;
}

#admin_comments table .td_date{
	width: 10%;
}

#admin_comments table .td_author{
	width: 10%;
}

#admin_comments table .td_comment{
	width: 50%;
	text-align: left;
}

#admin_comments table .td_article_id{
	width: 5%;
}

#admin_comments table .td_btn{
	width: 20%;
}

#admin_episodes table tr:hover,
#admin_categories table tr:hover,
#admin_comments table tr:hover{
	color: #0206fc;
}

caption{
	font-size: 1.3em;
}

.NO{
	color: #f1292a;
}

.OK{
	color: #508cc7;
}

thead{
	color: #000000;
}


/* Bouton Retour */
.return{
	width: 7%;
	margin: 10px;
	padding: 0;
	text-align: center;
}

.return a{
	font-size: 2em;
}

/* Bouton Ajouter */
#admin_episodes p,
#admin_categories p,
#admin_comments p{
	margin-bottom: 30px;
}

.btn-add {
	width: 50%;
	font-size: 1.5em;
	color: #FFF;
	background-color: #508cc7;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #d6dbdb;
	box-shadow: 0px 0px 20px #d6dbdb;
	text-align: center;
	text-decoration: none;
}

.btn-add:hover{
	color: #000000;
	cursor: pointer;
}

/* Div boutons Modifier/Supprimer */
#buttons-actions{
	width: 30%;
	height: 80%;
}

/* Bouton Modifier */
.btn-edit {
	width: 50%;
	color: #FFF;
	background-color: #4ea653;
	font-size: 0.9em;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #FFF;
	text-decoration: none;
}

.btn-edit:hover{
	color: #000000;
	cursor: pointer;
}

/* Bouton Annuler */
.btn-delete{
	font-family: 'BenchNine', sans-serif;
	width: 50%;
	color: #FFF;
	background-color: #f1292a;
	font-size: 0.9em;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #FFF;
	text-decoration: none;
}

.btn-delete:hover{
	color: #000000;
	cursor: pointer;
}

#admin_categories .btn-delete{
	width: 25%;
}

/* Vue Ajouter un épisode/une catégorie */
#add-post form,
#add-category form,
#edit-comment form{
	width: 50%;
	margin: 50px auto;
	padding: 10px;
	background-color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
}

/* TINY MCE */
#mceu_15{
	margin: 10px auto;
}

/* Bloc Label + Input */
.form-group{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 10px auto;
}

#add-post form div label{
	display: block;
	width: 30%;
	margin-right: 10px;
	text-align: left;
	font-size: 1.5em;
	color: #828383;
	font-style: italic;
}

#add-post form div input{
	width: 40%;
}

#add-post form div select{
	width: 15%;
}

#add-category form div,
#edit-comment form div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	margin: 10px;
}

#add-category form div label,
#edit-comment form div label{
	text-align: center;
	font-size: 1.5em;
	color: #828383;
	font-style: italic;
	margin: 0 20px;
}

.btn-save{
	width: 50%;
	margin: 30px auto;
	font-size: 1.5em;
	color: #FFF;
	background-color: #508cc7;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #d6dbdb;
	box-shadow: 0px 0px 20px #d6dbdb;
	text-align: center;
}

.btn-save:hover{
	color: #000000;
	cursor: pointer;
}


/* ------------------------------------ MEDIA QUERIES ---------------------------------------*/

@media all and (max-width: 1024px) {
	#admin_choices{
		width: 80%;
	}
	
	#admin_episodes,
	#admin_categories{
		width: 80%;
	}
	
	#add-post form,
	#add-category form,
	#edit-comment form{
		width: 80%;
	}
	
	.btn-edit,
	.btn-delete{
		font-size: 0.7em;
	}
	
	#admin_episodes table,
	#admin_categories table,
	#admin_comments table{
		font-size: 1.3em;
	}
}

@media all and (max-width: 800px) {
	#admin_choices p a{
		font-size: 1.2em;
		justify-content: center;
	}
	
	caption{
		font-size: 1.1em;
	}
	
	#admin_episodes table,
	#admin_categories table,
	#admin_comments table{
		font-size: 1.2em;
	}
	
	.btn-edit,
	.btn-delete{
		font-size: 0.6em;
	}
}

@media all and (max-width: 640px) {
	#admin_choices{
		flex-direction: column;
	}
	
	#admin_episodes table,
	#admin_categories table,
	#admin_comments table{
		font-size: 0.8em;
	}
	
	.btn-add {
		font-size: 1em;
	}
	
	#add-post form div label,
	#add-category form div label,
	#edit-comment form div label{
		font-size: 1em;
	}
	
	.td_id,
	.td_date,
	.td_article_id{
		display: none;
	}
	
	
	
}