/* Page spécifique aux Commentaires*/

/* Liens Précédemment et prochain épisode */
.other_episodes{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.prev{
	justify-content: flex-start;
	margin-left: 40px;
}
.next{
	justify-content: flex-end;
	margin-right: 40px;
}
.prev a,
.next a{
	text-decoration: none;
	color: #508cc7;
}

.prev a:hover,
.next a:hover{
	color: #000000;
}

/* Lien Retour */
.return{
	text-align: left;
	padding: 10px;
	margin: -60px 0 0 0;
}

.return a{
	text-decoration: none;
	color: #508cc7;
	font-size: 0.9em;
}

.return_episodes{
	text-align: left;
	padding: 10px;
	margin: 0 auto 20px;
}

.return_episodes a{
	text-decoration: none;
	color: #508cc7;
	font-size: 0.9em;
}

/* Bloc commentaires laissés par les utilisateurs */
.comments{
	margin-top: 50px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
}

.comments h3{
	margin: 0 auto;
	color: #508cc7;
	font-size: 1.6em;
	text-align: center;
}

.comment_author{
	margin: 0 auto;
	font-weight: bold;
	color: #508cc7;
	font-size: 1.4em;
}

.comment_author span{
	color: #828383;
	margin-left: 5px;
	font-size: 0.7em;
}

.comment_text{
	margin-top: 0;
	font-size: 1.2em;
}

/* Lien signaler le commentaire */
.comment_text a{
	color: #f1292a;
	margin-left: 50px;
	text-decoration: none;
}

/* Page Ajouter un commentaire */
#add-comment form{
	margin: 50px auto;
	padding: 10px;
	background-color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
}

#add-comment form div{
	display: flex;
	flex-direction: row;
	text-align: center;
	margin: 10px 20px;
}

#add-comment form h3{
	margin: 0 auto;
	color: #508cc7;
	font-size: 1.6em;
}

#add-comment form div label{
	display: block;
	width: 30%;
	text-align: left;
	font-size: 1.5em;
	color: #828383;
	font-style: italic;
}

#add-comment form div input{
	width: 40%;
}

.comment_text button.btn-signal{
	color: #f1292a;
	float: right;
}

.comment_text button.btn-signal:hover {
	cursor: pointer;
	color: #FFF;
	background-color: #f1292a;
}

.btn-disabled{
	float: right;
	border: none;
	color: #508cc7;
}

.btn_post{
	width: 15%;
	margin: 10px auto;
	font-size: 1em;
	color: #FFF;
	background-color: #508cc7;
	border-radius: 10px;
	border: 2px solid #d6dbdb;
	box-shadow: 0px 0px 20px #d6dbdb;
	text-align: center;
}

.btn_post:hover{
	color: #000000;
	cursor: pointer;
}

.no_show{
	text-align: center;
	font-size: 1.5em;
	color: #828383;
	font-style: italic;
}