/* PAGE TOUS LES EPISODES */

/* Contenu général des épisodes */
#bloc_content_all{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	color: #828383;
	text-align: justify;
}

/* Div contenant tous les épisodes */
.posts_all{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	height: 100%;
}

/* Episode spécifique */
.posts_all figure{
	display: flex;
	position: relative;
	width: 25%;
	text-align: center;
	padding: 0;
	font-size: 1.8em;
	margin-top: 80px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
	height: auto;
}

.posts_all img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	bottom: 0;
}

.posts_all figcaption{
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: auto;
	z-index: 999;
	color: #000000;
	background-color: #FFF;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	bottom: 0;
	border-radius: 10px;
}

.posts_all figure:hover figcaption{
	visibility: visible;
}

.post_full{
	margin-bottom: 0;
}

/* ------------------------------------ MEDIA QUERIES ---------------------------------------*/

@media all and (max-width: 1024px) {
	.posts_all figure {
		width: 40%;
	}
}

@media all and (max-width: 800px) {
	.posts_all figure {
		width: 60%;
	}
}