#login_user form,
#register form,
#account,
#edit-user,
#forget_password,
#reset-passwd{
	width: 60%;
	margin: 100px auto;
	padding: 20px;
	background-color: #FFF;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 50px #000000;
}

#login_user form h3,
#register form h3,
#account h3,
#edit-user form h3,
#forget_password form h3,
#reset-passwd form h3{
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: #508cc7;
}

#login_user form p,
#register form p,
#edit-user form .text,
#forget_password form p,
#reset-passwd form p{
	font-size: 1.53em;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: #828383;
	font-style: italic;
}

#login_user form div,
#register form div,
#edit-user form div,
#forget_password form div,
#reset-passwd form div{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px auto;
}

#login_user form div label,
#register form div label,
#edit-user form div label,
#reset-passwd form div label{
	display: block;
	width: 40%;
	text-align: left;
	font-size: 1.4em;
	color: #828383;
	font-style: italic;
	float: left;
}

#login_user form div input,
#register form div input,
#edit-user form div input,
#reset-passwd form div input{
	width: 30%;
}

/* Checkbox */
#login_user form div:nth-child(6) input{
	height: 30px;
}

#forget_password form div label{
	display: block;
	width: 20%;
	text-align: left;
	font-size: 1.5em;
	color: #828383;
	font-style: italic;
}

#forget_password form div input{
	width: 30%;
}

#login_user form button,
#register form button,
#edit-user form button,
#forget_password form button,
#reset-passwd form button{
	width: 50%;
	margin: 30px auto;
	font-size: 1.5em;
	color: #FFF;
	background-color: #508cc7;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid #d6dbdb;
	box-shadow: 0px 0px 20px #d6dbdb;
	text-align: center;
}

#login_user form button:hover,
#register form button:hover,
#edit-user form button:hover,
#forget_password form button:hover,
#reset-passwd form button:hover{
	color: #000000;
	cursor: pointer;
}

/*#login_user form .errors,*/
/*#register form .errors,*/
/*#edit-user form .errors,*/
/*#forget_password form .errors{*/
/*.errors*/
.errors{
	color: #FF0000;
	background-color: #edbcb6;
	font-size: 1.5em;
}


/* Edition de profil */
#account table{
	/*border-collapse: separate;*/
	/*border-spacing: 10px 30px;*/
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.4em;
	color: #FFF;
	background-color: #508cc7;
	border-radius: 10px;
}

#account table .param{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;
}

#account table .param_value{
	color: #000000;
}

#account table td{
	text-align: left;
}

.account_btn{
	display: flex;
	flex-direction: row;
}

.account_btn .btn-edit{
	width: 100%;
	height: 30px;
	font-size: 1.5em;
	margin-left: 20px;
}

.account_btn form{
	width: 100%;
	height: 30px;
	font-size: 1.5em;
}

.account_btn .btn-delete{
	width: auto;
	float: right;
	margin-right: 20px;
	padding-left: 10px;
	right: 15px;
}

/* ------------------------------------ MEDIA QUERIES ---------------------------------------*/

@media all and (max-width: 1024px) {
	.account_btn .btn-edit{
		font-size: 1.2em;
	}
	
	.account_btn form{
		font-size: 1.3em;
	}
	
	.account_btn .btn-delete{
		height: 42px;
	}
}

@media all and (max-width: 800px) {
	#login_user form,
	#register form,
	#account,
	#edit-user,
	#forget_password,
	#reset-passwd{
		width: 70%;
	}
}

@media all and (max-width: 640px) {
	
	#login_user form div label,
	#register form div label,
	#edit-user form div label,
	#reset-passwd form div label,
	#forget_password form div label{
		font-size: 1.2em;
	}
	
	#login_user form button,
	#register form button,
	#edit-user form button,
	#forget_password form button,
	#reset-passwd form button{
		font-size: 1em;
	}
	
	#login_user form h3,
	#register form h3,
	#account h3,
	#edit-user form h3,
	#forget_password form h3,
	#reset-passwd form h3{
		font-size: 2em;
	}
	
	#login_user form p,
	#register form p,
	#edit-user form .text,
	#forget_password form p,
	#reset-passwd form p{
		font-size: 1em;
	}
	
	.account_btn .btn-edit{
		font-size: 0.8em;
	}
	
	.account_btn form{
		font-size: 0.8em;
	}
	
	.account_btn .btn-delete{
		height: 42px;
	}
	
}